<!DOCTYPE HTML>

<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/header :: common_header(~{::title})">
    <title th:text="'Course #' + ${courseId} + ' Sprint List'"></title>
</head>

<body>
<div th:replace="fragments/navbar :: nav"></div>

<div class="container">
    <div class="container" id="action-bar">
        <div class="row align-items-center">
            <div class="col-md-2 offset-md-10 text-right">
                <a sec:authorize="hasAnyRole('MENTOR','ADMIN')" th:href="@{/sprints/course/{course}/add(course=${courseId})}" class="btn btn-primary" role="button">Create Sprint</a>
            </div>
        </div>
    </div>
    <h2 th:text="'Course #' + ${courseId} + ' Sprint List'"></h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Start date</th>
            <th scope="col">Close date</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sprint : ${sprints}">
            <td th:text="${sprint.id}"></td>
            <td th:text="${sprint.title}"></td>
            <td th:text="${sprint.startDate}"></td>
            <td th:text="${sprint.finish}"></td>
            <td>
                <a th:href="${'/tasks/sprint/' + sprint.id}" class="btn btn-info" role="button">Tasks</a>
                <a sec:authorize="hasAnyRole('MENTOR','ADMIN')" th:href="@{/sprints/course/{course}/edit/{sprint}(course=${courseId}, sprint=${sprint.id})}" class="btn btn-warning" role="button">Edit</a>
                <a sec:authorize="hasAnyRole('MENTOR','ADMIN')" th:href="@{/sprints/course/{course}/delete/{sprint}(course=${courseId}, sprint=${sprint.id})}" class="btn btn-danger" role="button">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>