<!DOCTYPE HTML>

<html xmlns:th="https://www.thymeleaf.org">

<head th:replace="fragments/header :: common_header(~{::title})">
    <title>Learning management system</title>
</head>

<body>

<div th:replace="fragments/navbar :: nav"></div>

<div class="container index">
    <div class="jumbotron mt-5">
        <h1 class="display-4">Learning management system</h1>
        <p class="lead">This is a simple LMS allowing to create, manage, and bind Courses(courses) and Students</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/courses" role="button">Go to Courses</a>
    </div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>